/* ===== colors ===== */
// gray
$gray-light: #E6EAEc;
$gray: #BDBDBD;
$gray-dark: #757575;

// black
$black-light: #333;
$black: #333;
$black-dark: #333;
// primary
$primary-light: #333;
$primary: #333;
$primary-dark: #333;

// secondary
$secondary-light: #333;
$secondary: #333;
$secondary-dark: #333;

// success
$success-light: #333;
$success: #333;
$success-dark: #333;

// danger
$danger-light: #333;
$danger: #333;
$danger-dark: #333;

// info
$info-light: #333;
$info: #333;
$info-dark: #333;

// warning
$warning-light: #333;
$warning: #333;
$warning-dark: #333;

/* ===== /.colors ===== */